@{
    ViewData["Title"] = "Checkout";
}

<div class="container mt-4">
    <h2> Place Order</h2>

    <form method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label>Customer</label>
            <select name="Customerid" class="form-control"
                    asp-items="ViewBag.Customerid">
                
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Confirm Order</button>
        <a asp-action="Index" class="btn btn-secondary">Back to Cart</a>
    </form>
</div>